@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contact-section {
    @include flex(column, start, start);
    gap: 2rem;
    padding: 3rem;
}

.contact-content {
    @include flex();
    gap: 1rem;
}

.contact-actions {
    @include flex(row, start, center);
    width: 100%;
    gap: 1rem;

    .social-links {
       @include flex(row, start, center);
       gap: 1rem;
    }
}

@media (max-width: 800px) {
    .contact-section {
        padding: 3rem 1.5rem;
    }

    .contact-actions {
        flex-wrap: wrap;
}
}