@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.project-card-wrapper {
    @include flex(column, center, center)
}

.project-card {
    @include flex(column, center, start);
    width: 100%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    gap: 1.5rem;
    border: solid 1px $gray-200;
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: $white;

    &:hover {
        box-shadow: 0 0 16px 8px rgba(16, 24, 40, 0.04);
    }
}

.project-card-content {
    @include flex(column, start, start);
    gap: 0.5rem;
    width: 100%;
    order: 1;

    .project-card-metadata {
        @include flex(row, start, start);
        gap: 0.5rem;

        span {
            font-size: $text-md;
        }
    }
}

.project-card-image {
    height: 20rem;
    overflow: hidden;
    width: 100%;
    background-color: $gray-200;
    order: 2;

    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        display: block;
    }
}

@media (max-width: 800px) {

    .project-card-wrapper {
        padding: 1.5rem;
    }

    .project-card  {
        padding: 0;
    }

    .project-card-image {
        order: 1;
    }

    .project-card-content {
        padding: 0rem 1.5rem 1.5rem 1.5rem;
        order: 2;
    }
}
