@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero-home {
    @include flex(column, start, start);
    gap: 2rem;
    padding: 3rem;
}

.avatar {
    width: 3.5rem;
    border: solid 2px $white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 4, 0.04);
    rotate: -2deg;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><text y="24" font-size="24">❤️</text></svg>') 16 16, auto;

    transition: all 0.2s ease-in-out;

    img {
        width: 100%;
    }

    &:hover {
        transform: scale(1.04);
    }
}

.hero-content {
    @include flex();
    gap: 1rem;
}

@media (max-width: 800px) {
    .hero-home {
        padding: 3rem 1.5rem;
    }
}