@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home-about {
    @include flex(column, center, center);
    gap: 2rem;
    margin: auto;
    width: 100%;
    padding: 3rem;
}

.about-content {
    @include flex();
    @include text-width();
    gap: 1rem;
}

.read-more {
    @include flex(column, center, center);
    @include card-width();
    width: 100%;
    margin: auto;
    padding-top: 6rem;
    margin-top: -6rem;
    background: linear-gradient(to top, $gray-50 24%, transparent 100%);
    z-index: 10;
}