@use "./variables" as *;
@use "./mixins" as *;

// Typography
body {
    background: $gray-50;
    display: flex;
    flex-direction: column;
    gap: 2rem;;

}

* {
    font-family: $system;
    font-weight: $regular;
    font-size: $text-lg;
    color: $gray-600;
}

.bold {
    font-weight: $bold;
}
.regular {
    font-weight: $regular;
}
.italic {
    font-style: italic;
}
.text-light {
    color: $gray-600;
}
.text-dark {
    color: $gray-900;
}

h1, .heading {
    font-size: $heading;
    letter-spacing: -0.5px;
    line-height: 1.5;
}

h2, h3, h4, h5, .heading-sm {
    font-size: $heading-sm;
    line-height: 1.5;
}

p, .text-lg {
    font-size: $text-lg;
    line-height: 1.6;
}

.text-md {
    font-size: $text-md;
    line-height: 1.6;
}

.text-sm {
    font-size: $text-sm;
    line-height: 1.6;
}

a {
    color: $gray-900;
    font-weight: $bold;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        color: $gray-600;
    }
}

// General Layout
.page-layout {
    padding-top: 6rem;
    padding-bottom: 6rem;
    @include flex(column, center, stretch);
    gap: 4rem;

    .arrows {
        margin: auto;
    }
}

.vertical-lines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  @include card-width();
  border-left: 1px dashed $gray-200;
  border-right: 1px dashed $gray-200;
  z-index: -100;
}