@use './variables' as *;

// Flex
@mixin flex (
    $direction: column,
    $justify: center,
    $align: center,
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin border-top() {
    border-top: dashed 1px $gray-200;

    @media (max-width: 800px) {
        border: none;
    }
}

@mixin border-bottom() {
    border-bottom: dashed 1px $gray-200;

    @media (max-width: 800px) {
        border: none;
    }
}

@mixin text-width () {
    max-width: 40rem;
}

@mixin card-width () {
    max-width: 43rem;
}
