@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.nav-bar {
    position: absolute;
    top: 1.75rem;
    left: 50%;
    transform: translateX(-50%);
    
    @include flex(row, center, center);
    gap: 1rem;
    padding: 0.5rem 1rem;
    background: $white;
    border: solid 1px $gray-200;
    border-radius: 0.5rem;
    transition: box-shadow 0.2s;
    box-shadow: 0 1px 4px rgba(36, 41, 47, 0.08);

    a {
        font-size: $text-md;
    }
}