@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.photo-gallery {
    @include flex(row, center, center);
    width: 100%;
    max-width: 46rem;
    margin: auto;
}

@media (max-width: 800px) {
    .photo-gallery {
        @include flex(row, center, center);
        padding: 1rem;
    }
}