@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer-wrapper {
    @include card-width();
    width: 100%;
    margin: auto;
    @include flex(column, center, center);
    gap: 2rem;
    padding: 3rem;

    svg {
        width: 100%;
        max-width:8rem;
    }
}

.footer-content {
    @include flex(row, center, center);
    gap: 0.5rem;
    
    span, a {
        font-size: $text-md;
    }
}

.footer-copyright {
    margin-top: 4rem;
    font-size: $text-sm;
    text-align: center;

    span {
        font-size: $text-sm;
    }

}

@media (max-width: 800px) {
    .footer-copyright {
        text-align: center;
    }

    .footer-content {
    @include flex(column, center, center);
    gap: 0.5rem;
    
    span, a {
        font-size: $text-md;
    }
}

}