@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.projects-list {
    @include flex(column, center, stretch);
    gap: 2rem;;
}

.coming-soon {
    padding-bottom: 2rem !important;
    border-bottom: 1px dashed $gray-200;

    p {
        @include text-width();
        text-align: center;
        margin: auto;
        color: $gray-400;
    }
}

@media (max-width: 800px) {

    .coming-soon {
        border-bottom: none;
    }
}