@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.section-wrapper {
    @include flex(column, center, center);
}

.top-border {
    @include border-top();
}

.bottom-border {
    @include border-bottom();
}

.section-content {
    @include flex(column, center, center);
    max-width: 43rem;
    margin: auto;

    p {
        width: 100%;
    }
}

.add-padding {
    padding: 3rem;
}

