@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  background: #F9FAFB;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

* {
  font-family: system-ui, -apple-system, Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4B5563;
}

.bold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.text-light {
  color: #4B5563;
}

.text-dark {
  color: #111827;
}

h1, .heading {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

h2, h3, h4, h5, .heading-sm {
  font-size: 1.125rem;
  line-height: 1.5;
}

p, .text-lg {
  font-size: 1rem;
  line-height: 1.6;
}

.text-md {
  font-size: 0.875rem;
  line-height: 1.6;
}

.text-sm {
  font-size: 0.75rem;
  line-height: 1.6;
}

a {
  color: #111827;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #4B5563;
}

.page-layout {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.page-layout .arrows {
  margin: auto;
}

.back-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 43rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem 3rem;
  position: absolute;
}

.vertical-lines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 43rem;
  border-left: 1px dashed #E5E7EB;
  border-right: 1px dashed #E5E7EB;
  z-index: -100;
}

@media (max-width: 800px) {
  .mobile-hide {
    display: none;
  }
  .vertical-lines {
    display: none;
  }
}
.project-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 3rem;
  gap: 1rem;
}
.project-header .project-metadata {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 0.5rem;
}
.project-header .project-metadata span {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 0.5rem;
}
.project-header .project-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 0.5rem;
}

.project-featured-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}

.project-user {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 3rem;
  gap: 1.5rem;
  background-color: #ffffff;
  border: solid 1px #E5E7EB;
  margin-top: -1px;
  margin-bottom: -1px;
}
.project-user .user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.project-user .user-info .user-details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
}
.project-user .user-info .user-details .user-image {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.project-user .user-extra-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.project-user .user-extra-details .user-analytics {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.project-user .user-extra-details .user-analytics .data-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
}
.project-user .user-extra-details .user-analytics .data-item svg {
  width: 1rem;
}
.project-user .user-actions {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding-top: 1rem;
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100vw;
  height: 100vh;
}
.loading svg {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .project-header {
    padding: 3rem 1.5rem;
  }
  .project-user {
    padding: 1.5rem;
    border-right: none;
    border-left: none;
  }
  .project-user .user-actions {
    flex-wrap: wrap;
  }
}
.not-found-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-page .section-wrapper {
  width: 100%;
}

.not-found-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 43rem;
  padding: 4rem 3rem;
  gap: 2rem;
}
.not-found-content img {
  max-width: 18rem;
}

.not-found-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: solid 1px #E5E7EB;
  border-radius: 0.5rem;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 4px rgba(36, 41, 47, 0.08);
  font-size: 0.875rem;
  cursor: pointer;
}
.btn svg {
  height: 1rem;
}
.btn-icon-only {
  width: 2.5rem;
  padding: 0;
}
.btn-icon-only svg {
  height: 1.25rem;
}
.btn:hover {
  background-color: #F9FAFB;
  color: #111827;
}
.btn-yellow {
  border: none;
  border: solid 1px #fef3c7;
  background: #fef3c7;
  color: #111827;
  box-shadow: none;
}
.btn-yellow:hover {
  background-color: rgba(253, 230, 138, 0.2509803922);
}

.nav-bar {
  position: absolute;
  top: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: solid 1px #E5E7EB;
  border-radius: 0.5rem;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 4px rgba(36, 41, 47, 0.08);
}
.nav-bar a {
  font-size: 0.875rem;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-border {
  border-top: dashed 1px #E5E7EB;
}
@media (max-width: 800px) {
  .top-border {
    border: none;
  }
}

.bottom-border {
  border-bottom: dashed 1px #E5E7EB;
}
@media (max-width: 800px) {
  .bottom-border {
    border: none;
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 43rem;
  margin: auto;
  width: 100%;
}
.section-content p {
  width: 100%;
}

.add-padding {
  padding: 3rem;
}

.hero-home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  padding: 3rem;
}

.avatar {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #F9FAFB;
  border: solid 2px #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 4, 0.04);
  rotate: -2deg;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><text y="24" font-size="24">❤️</text></svg>') 16 16, auto;
  transition: all 0.2s ease-in-out;
}
.avatar img {
  width: 100%;
}
.avatar:hover {
  transform: scale(1.04);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 800px) {
  .hero-home {
    padding: 3rem 1.5rem;
  }
}
.copy-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: solid 1px #E5E7EB;
  border-radius: 0.5rem;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 4px rgba(36, 41, 47, 0.08);
}
.copy-button a, .copy-button span {
  font-size: 0.875rem;
}
.copy-button .divider {
  width: 1px;
  background-color: #E5E7EB;
  align-self: stretch;
}
.copy-button .success {
  color: #00BC7D;
}

.project-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 1.5rem 1.5rem 0 1.5rem;
  gap: 1.5rem;
  border: solid 1px #E5E7EB;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
}
.project-card:hover {
  box-shadow: 0 0 16px 8px rgba(16, 24, 40, 0.04);
}

.project-card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  width: 100%;
  order: 1;
}
.project-card-content .project-card-metadata {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.project-card-content .project-card-metadata span {
  font-size: 0.875rem;
}

.project-card-image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
  background-color: #E5E7EB;
  order: 2;
}
.project-card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 800px) {
  .project-card-wrapper {
    padding: 1.5rem;
  }
  .project-card {
    padding: 0;
  }
  .project-card-image {
    order: 1;
  }
  .project-card-content {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    order: 2;
  }
}
.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}

.coming-soon {
  padding-bottom: 2rem !important;
  border-bottom: 1px dashed #E5E7EB;
}
.coming-soon p {
  max-width: 40rem;
  text-align: center;
  margin: auto;
  color: #9CA3AF;
}

@media (max-width: 800px) {
  .coming-soon {
    border-bottom: none;
  }
}
.photo-card {
  background: #ffffff;
  border: solid 1px #E5E7EB;
  padding: 0.75rem 0.75rem 2.5rem 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.photo-card .card-image {
  width: 10rem;
  aspect-ratio: 3/4;
  overflow: hidden;
  background-color: #F9FAFB;
}
.photo-card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}

.photo-card:nth-child(1) {
  transform: rotate(1.2deg);
}

.photo-card:nth-child(2) {
  transform: rotate(0.8deg);
}

.photo-card:nth-child(3) {
  transform: rotate(-1deg);
}

.photo-card:nth-child(4) {
  transform: rotate(0.8deg);
}

.photo-card:hover {
  transform: rotate(0) scale(1.08);
  z-index: 10;
}

@media (max-width: 800px) {
  .photo-card:nth-child(4), .photo-card:nth-child(3) {
    display: none;
  }
  .photo-card {
    width: 100%;
  }
  .photo-card .card-image {
    width: 100%;
  }
}
.photo-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 46rem;
  margin: auto;
}

@media (max-width: 800px) {
  .photo-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
.home-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
  width: 100%;
  padding: 3rem 0 3rem 1rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 43rem;
  padding: 3rem;
  margin: auto;
  gap: 1rem;
}

.read-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 43rem;
  width: 100%;
  margin: auto;
  padding: 3rem;
  margin-top: -6rem;
  background: linear-gradient(to top, #F9FAFB 64%, transparent 100%);
  z-index: 10;
}

.read-less {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 43rem;
  width: 100%;
  margin: auto;
  padding: 3rem;
}

.expanded-bottom {
  padding-bottom: 0;
}

.expanded-top {
  padding-top: 1rem;
}

.gap-1rem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.callout {
  background-color: #ffffff;
  border: solid 1px #E5E7EB;
  margin: -1px 0;
}

@media (max-width: 800px) {
  .about-content {
    padding: 3rem 1.5rem;
  }
  .read-more {
    padding: 3rem;
    margin-top: -4rem;
  }
  .expanded-bottom {
    padding-bottom: 0;
  }
  .expanded-top {
    padding-top: 1rem;
  }
  .callout {
    border-right: none;
    border-left: none;
  }
}
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  padding: 3rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-actions {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.contact-actions .social-links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 800px) {
  .contact-section {
    padding: 3rem 1.5rem;
  }
  .contact-actions {
    flex-wrap: wrap;
  }
}
.accordion-wrapper {
  max-width: 40rem;
}

.accordion {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.accordion-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  border-bottom: solid 1px #E5E7EB;
  padding: 1rem 0;
  width: 100%;
}
.accordion-content .main-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.accordion-content:first-child {
  padding-top: 1rem;
}
.accordion-content:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.work-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.work-position svg {
  height: 16px;
}

@media (max-width: 800px) {
  .accordion-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
.download-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-card {
  max-width: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 3rem;
  gap: 1rem;
  border: solid 1px #E5E7EB;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
}

@media (max-width: 800px) {
  .download-card {
    padding: 3rem 1.5rem;
    border-right: none;
    border-left: none;
  }
}
.notepad {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 0.5rem;
  background-color: #fffbeb;
  border: solid 1px #fef3c7;
  border-radius: 0.5rem;
  transition: all 0.4s ease-in-out;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.25s ease;
}
.notepad-open {
  padding: 1rem;
  width: 20rem;
  height: 25rem;
  box-shadow: 0 0 16px 8px rgba(16, 24, 40, 0.04);
}

.notepad-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.notepad-header .notepad-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3.25rem;
}
.notepad-header .notepad-button--open {
  min-width: 3.25rem;
  padding: 1rem;
}
.notepad-header .notepad-button--close {
  padding: 0;
  height: 0;
}
.notepad-header .notepad-button svg {
  height: 1rem;
  width: 1rem;
}

.notepad-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  flex: 1;
  width: 100%;
  gap: 1rem;
}

.notepad-textarea {
  width: 100%;
  height: 100%;
  padding: 0.25rem 0;
  border: none;
  background-color: transparent;
  cursor: text;
  resize: none;
  color: #4B5563;
}
.notepad-textarea:focus {
  outline: none;
}
.notepad-textarea::-moz-placeholder {
  color: rgba(75, 85, 99, 0.8);
  font-style: italic;
}
.notepad-textarea::placeholder {
  color: rgba(75, 85, 99, 0.8);
  font-style: italic;
}

.notepad-actions {
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: text;
  resize: none;
}
.notepad-actions:focus {
  outline: none;
}
.notepad-actions::-moz-placeholder {
  color: #9CA3AF;
  font-style: italic;
}
.notepad-actions::placeholder {
  color: #9CA3AF;
  font-style: italic;
}

@media (max-width: 800px) {
  .notepad {
    display: none;
  }
}
.footer-wrapper {
  max-width: 43rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}
.footer-wrapper svg {
  width: 100%;
  max-width: 8rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.footer-content span, .footer-content a {
  font-size: 0.875rem;
}

.footer-copyright {
  margin-top: 4rem;
  font-size: 0.75rem;
  text-align: center;
}
.footer-copyright span {
  font-size: 0.75rem;
}

@media (max-width: 800px) {
  .footer-copyright {
    text-align: center;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .footer-content span, .footer-content a {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=index.css.map */