@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  background: #F9FAFB;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

* {
  font-family: system-ui, -apple-system, Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4B5563;
}

.bold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.text-light {
  color: #4B5563;
}

.text-dark {
  color: #111827;
}

h1, .heading {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

h2, h3, h4, h5, .heading-sm {
  font-size: 1.125rem;
  line-height: 1.5;
}

p, .text-lg {
  font-size: 1rem;
  line-height: 1.6;
}

.text-md {
  font-size: 0.875rem;
  line-height: 1.6;
}

.text-sm {
  font-size: 0.75rem;
  line-height: 1.6;
}

a {
  color: #111827;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #4B5563;
}

.page-layout {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 4rem;
}
.page-layout .arrows {
  margin: auto;
}

.vertical-lines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 43rem;
  border-left: 1px dashed #E5E7EB;
  border-right: 1px dashed #E5E7EB;
  z-index: -100;
}

.nav-bar {
  position: absolute;
  top: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: solid 1px #E5E7EB;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04), 0 2px 2px 0 rgba(255, 255, 255, 0) inset;
}
.nav-bar a {
  font-size: 0.875rem;
}

.section-wrapper {
  padding: 3rem 3rem;
  border-top: dashed 1px #E5E7EB;
  border-bottom: dashed 1px #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-content {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.hero-home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.avatar {
  width: 3.5rem;
  border: solid 2px #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 4, 0.04);
  rotate: -2deg;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><text y="24" font-size="24">❤️</text></svg>') 16 16, auto;
  transition: all 0.2s ease-in-out;
}
.avatar img {
  width: 100%;
}
.avatar:hover {
  transform: scale(1.04);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.copy-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: solid 1px #E5E7EB;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04), 0 2px 2px 0 rgba(255, 255, 255, 0) inset;
}
.copy-button a, .copy-button span {
  font-size: 0.875rem;
}
.copy-button .divider {
  width: 1px;
  background-color: #E5E7EB;
  align-self: stretch;
}
.copy-button .success {
  color: #00BC7D;
}

.project-card-wrapper {
  border-top: dashed 1px #E5E7EB;
  border-bottom: dashed 1px #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card {
  max-width: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1.5rem 1.5rem 0 1.5rem;
  gap: 1.5rem;
  border: solid 1px #E5E7EB;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
}
.project-card:hover {
  box-shadow: 0 0 16px 8px rgba(16, 24, 40, 0.04);
}

.project-card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.project-card-content .project-card-metadata {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.project-card-content .project-card-metadata span {
  font-size: 0.875rem;
}

.project-card-image {
  max-height: 20rem;
  overflow: hidden;
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}

.coming-soon {
  padding-bottom: 2rem;
  border-bottom: 1px dashed #E5E7EB;
}
.coming-soon p {
  max-width: 40rem;
  text-align: center;
  margin: auto;
  color: #9CA3AF;
}

.photo-card {
  background: #ffffff;
  width: 20rem;
  border: solid 1px #E5E7EB;
  padding: 0.75rem 0.75rem 2.5rem 0.75rem;
  cursor: pointer;
}
.photo-card img {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 46rem;
  margin: auto;
}

.home-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
  width: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  gap: 1rem;
}/*# sourceMappingURL=index.css.map */